<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Event Details</title>
    <link rel="stylesheet" href="{% static 'style.css'%}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Audiowide">
</head>
<body >
    <style>
        p{
            color:  #35728e;
        }
    </style>
    <header>
        <img id="Logo"   src="https://www.efuturex.com/static/assets/img/EFUTUREX-Logo.png"    alt="Logo of efuturex"/>
        <nav style="height: auto;">
            <a class="nav-link" href="">Home</a>
            <a class="nav-link" href="">Login</a>
            <a class="nav-link" href="">Registration</a>
        </nav>
    </header>
    <section id="event-details">
        <div class="event-c" >
            <h2 class="h">{{event.event_title}}</h2>
            <p style="font-size:17px;"><b>Location:</b> {{event.event_loc}}</p>
            <p style="font-size:17px;"><b>Date:</b> {{event.date}}</p>
            <p style="font-size:17px;">{{event.description}} </p>

            <form action="{% url 'eventdetails' event.pk %}" method="POST" >
                <h3 style="font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif">Apply for this Event</h3>
                {% csrf_token %}
                {{form.as_p}}
                <!-- <label for="fullname">Full Name:</label>
                <input type="text" name="fullname" placeholder="Your Full Name">
                <br><br><label for="email">Email:</label>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="email" name="email" placeholder="Your email">
                <br><br><label for="phone">Phone No:</label>
            
                <input type="number" name="phone" placeholder="Your Phone No:">-->
                <br><br><input type="submit" value="Submit"> 
            </form>
            <!-- <a href="" class="detail-btn">Event Details</a> -->
        </div>
    </section>



    <footer>©Event Registration System. All rights reserved.</footer>
</body>
</html>