<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Event Details</title>
    <link rel="stylesheet" href="./style.css">
</head>
<body >
    <style>
        p{
            color:  #35728e;
        }
    </style>
    <header>
        <img id="Logo"   src="https://www.efuturex.com/static/assets/img/EFUTUREX-Logo.png"    alt="Logo of efuturex"/>
        <nav style="height: auto;">
            <a class="nav-link" href="">Home</a>
            <a class="nav-link" href="">Login</a>
            <a class="nav-link" href="">Registration</a>
        </nav>
    </header>
    <section id="event-details">
        <div class="event-c">
            <h2 class="h">Cyber Security</h2>
            <p style="font-size:16px;"><b>Location:</b> FISAT</p>
            <p style="font-size:16px;"><b>Date:</b> 08 September 2023</p>
            <p style="font-size:16px;"><b>Description:</b> This is a <b>free 3 day</b> workshop on Cyber Security. Students of any year can attend the session. </p>
            <form action="">
                <h3>Apply for this Event</h3>
                <label for="fullname">Full Name:</label>
                <input type="text" name="fullname">
                <br><br><label for="email">Email:</label>
                <input type="email" name="email">
                <br><br><label for="phone">Phone No:</label>
            
                <input type="number" name="phone">
                <br><br><input type="submit" value="Submit">
            </form>
            <!-- <a href="" class="detail-btn">Event Details</a> -->
        </div>
    </section>


    <footer>©2023 Event Registration System</footer>
</body>
</html>